<div class="row">
	<div class="col50">
		<f:if condition="{settings.50-50.slideLeft}">
			<f:then>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.slideContent.0')}</f:then>
			<f:else>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.content.0')}</f:else>
		</f:if>
	</div>
	<div class="col50 right">
		<f:if condition="{settings.50-50.slideRight}">
			<f:then>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.slideContent.1')}</f:then>
			<f:else>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.content.1')}</f:else>
		</f:if>
	</div>
</div>